.columns {
	padding: 0;
}
.map {
	height: 600px;
	width: 600px;
}

.city-label {
 stroke: #000;
  stroke-width:1;
  fill: #000;
  pointer-events: none;
  z-index: 10;
}
.city-pop {
 stroke: #000;
  stroke-width:1;
  fill: #000;
  pointer-events: none;
  z-index: 10;
}

.city-marker {
 fill: #000;
 stroke-width:3;
  stroke: #aaa;
  opacity: 0.45;
  cursor: pointer;
  z-index: 15;
}