$droid: 'Droid Sans', sans-serif;

.columns {
	padding: 0;
}

// donut chart styles
.donut{
	height: 525px;
	width: 480px;
}
.specialty {
	fill: #FFF;
	pointer-events: none;
	stroke: none;

}
.payments {
	fill: #FFF;
	pointer-events: none;
	stroke: none;
}
.title {
	fill: #FFF;
	font-size: 2rem;
}
.arc{
	stroke: #555;
	stroke-width: 1;
	&:hover {
		stroke: #222;
		stroke-width: 2;
	}
}

// map styles
.map {
	// border: 3px solid #00F;
	border-top: none;
	height: 525px;
	width: 480px;
}
.city-label {
	font-size: 1.25rem;
  fill: #000;
  pointer-events: none;
}
.label-box {
	fill: #FFF;
	stroke: #00F;
	stroke-width: 2;
	pointer-events: none;
}
.city-marker {
  fill: #FFF;
  stroke-width:2;
  stroke: #00F;
  opacity: 0.45;
  cursor: pointer;
}

// Main page styles
.circular-img {
  border-radius: 150px;
  border: 2px solid rgb(246,167,0);
  padding: .2rem;
}

.social-link {
  padding: 0 .5rem;
  &:hover {
  color: white;
  text-decoration: underline; 
  }
}

.creator-title,
.creator-name {
	color: white;
}
.creator-name {
  padding: .1rem;
  margin: 0;
}

// Header styles
.header-row {
	width: 100%;
}
.header {
	display: block;
}

.header-flag-blue {
	// background-color: blue;
	opacity: .7;
	height: 2rem;
	width: 100%;
}

.header-flag-white {
	background-color: white;
	height: 2.25rem;
	width: 100%;
}

.flag-c {
	height: 120px;
	width: 120px;
	position: absolute;
	top: -10px;
	left: 30px;
	z-index: 10;
}

.hide {
	display: none;
}

// Foundation override styles
a {
	color: white;
}

body {
	// margin-bottom: 5rem;
}

.footer{
	margin-bottom: 1.5rem;
}
.custom-panel {
	background-color: #f2f2f2;
	position: absolute;
	opacity: .4;
	width: 100%;
	bottom: 0;
	height: 280px;
}

.site-title {
	font-family: $droid;
	color: black;
	font-size: 1.8rem;
	margin: 0;
}
.custom-panel-container {
	position: relative;
}
.background-wrapper {
	// margin-bottom: 10rem;
}