$ubuntu: 'Ubuntu', sans-serif;

@import 'sprites.css';

.columns {
	padding: 0.05rem;
}

// initial load information
.site-information {
	font-family: $ubuntu;
	fill: #FFF;
	font-size: 1.5rem;
	margin-top: 175px;
}
#site-information{
	position: absolute;
}

// specialty list styles
.specialties-list-div{
	display:none;
	height: 490px;
	width: 480px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgba(255,255,255,0.20)
}
.specialties-list-container {
	position: relative;
}
.specialties-total-payments {
	display: none;
	height: 36px;
	width: 480px;
	text-align: center;
	background-color: rgba(255,255,255,0.20);
	// margin-bottom: 1rem;
	border-bottom: 1px solid black;
	padding-top: 6px;
}
.total-payments-title {
	font-size: 140%;
}
.specialty-label {
	margin-top: 1rem;
}
.specialty-rows {
	padding:0.10rem;
}
.highlighted {
	color: #FFF;
}
.row .row {
	margin: 0;
}
// map button
.map-button {
	border: 0 !important;
	display: none;
	position: absolute;
	width: 480px;
	bottom: -50;
	// left: 190px;
	background-color: rgba(245,245,245,0.5);
	border: 2px solid #aaa;
	color: #000;
	a {
		font-size: 150%
	}
	&:hover{
		background-color: rgba(245,245,245,1);
		color: #000;
	}
}

// donut chart styles
.donut{
	height: 525px;
	width: 480px;
}
.specialty {
	// margin: 1rem;
	fill: #FFF;
	pointer-events: none;
	stroke: none;

}
.payments {
	fill: #FFF;
	pointer-events: none;
	stroke: none;
}
.pie-chart-title {
	font-family: $ubuntu;
	fill: #FFF;
	font-size: 3rem;

}
.arc {
	cursor: pointer;
	stroke: #555;
	stroke-width: 1;
	&:hover {
		stroke: #222;
		stroke-width: 2;
	}
}

// map styles
.map {
	// border: 3px solid #00F;
	border-top: none;
	height: 525px;
	width: 480px;
}
.city-label {
	font-size: 1.25rem;
  fill: #000;
  pointer-events: none;
  font-family: $ubuntu;
}
.label-box {
	fill: #FFF;
	stroke: #aaa;
	stroke-width: 1;
	pointer-events: none;
}
.city-marker {
  fill: #FFF;
  stroke-width:2;
  stroke: #555;
  opacity: 0.75;
  cursor: pointer;
}

// Main page styles
.circular-img {
  border-radius: 150px;
  border: 2px solid rgb(246,167,0);
  padding: .2rem;
}

.social-link {
  padding: 0 .5rem;
  &:hover {
  color: #ccc;
  }
}

.creator-title {
	margin-top: 4rem;
	font-size: 1.75rem;
	color: white;
	font-family: $ubuntu;
}
.creator-name {
	color: white;
	padding: .4rem;
	margin: 0;
	font-size: 1.4rem;
}

// Header styles
.header-row {
	width: 100%;
}
.header {
	display: block;
}
.header-flag-blue {
	opacity: .7;
	height: 2rem;
	width: 100%;
}

.header-flag-white {
	background-color: white;
	height: 2.25rem;
	width: 100%;
	opacity: .8
}

.flag-c {
	height: 120px;
	width: 120px;
	position: absolute;
	top: -10px;
	left: 30px;
	z-index: 10;
}

.hide {
	display: none;
}

// Foundation override styles
a {
	color: white;
}

.footer {
	margin-bottom: 1.5rem;
}
.custom-panel {
	background-color: #f2f2f2;
	position: absolute;
	opacity: .4;
	width: 100%;
	bottom: 0;
	height: 280px;
}

.site-title {
	line-height: 1.2;
	font-family: $ubuntu;
	color: black;
	font-size: 1.8rem;
	margin: 0;
}
.custom-panel-container {
	position: relative;
}
.backstretch{
	opacity: 0.9;
}
.background-wrapper {
	// margin-bottom: 10rem;
}